@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.logo {
  width: 25px;
  height: 25px;
}

.logo-text {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
}

.nav {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  padding: 20px 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: row;
  margin: 50px 200px 50px 200px;
}

.card-header-section {
  margin: 20px;
}

.card-image {
  width: 250px;
  height: 330px;
  object-fit: cover;
  border-radius: 7px;
}

.location-section {
  display: flex;
  align-items: center;
}

.location-tag {
  width: 10px;
  height: 15px;
}

.location-text {
  font-weight: 400px;
  font-size: 12px;
  padding-left: 5px;
}

.link-tag {
  color: #918E9B;
  font-size: 12px;
  padding-left: 15px;
}

.header-text {
  font-weight: 700;
  font-size: 25px;
  color: #2B283A;
  margin-top: 5px;
  margin-bottom: 15px;
}

.date {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #2B283A;
  margin-bottom: 10px;
}

.location-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2B283A;
}

@media only screen and (max-width: 600px) {
  .card {
    height: auto !important;
    max-width: 400px;
    align-self: center;
    display: flex;
    flex-direction: row;
    /* margin: 50px 200px 50px 200px; */
  }
}